<!DOCTYPE html>
	<html>
		<head>
			<title>Test</title>
			<link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-2.2.0/jasmine_favicon.png">
			<link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.2.0/jasmine.css">

			<script type="text/javascript" src="jasmine/lib/jasmine-2.2.0/jasmine.js"></script>
			<script type="text/javascript" src="jasmine/lib/jasmine-2.2.0/jasmine-html.js"></script>
			<script type="text/javascript" src="jasmine/lib/jasmine-2.2.0/boot.js"></script>
		</head>

		<script type="text/javascript">
			describe("Unit Testing Examples", function() {

			  beforeEach(angular.mock.module('ChartApp'));

			  it('should have a LoginCtrl controller', function() {
			    expect(App.LoginCtrl).toBeDefined();
			  });

			  it('make sure ChartService is working', inject(['ChartService',
			    function(LoginService) {
			      expect(LoginService.isValidEmail).not.to.equal(null);

			      // test cases - testing for success
			      var validEmails = [
			        'test@test.com',
			        'test@test.co.uk',
			        'test734ltylytkliytkryety9ef@jb-fe.com'
			      ];

			      // test cases - testing for failure
			      var invalidEmails = [
			        'test@testcom',
			        'test@ test.co.uk',
			        'ghgf@fe.com.co.',
			        'tes@t@test.com',
			        ''
			      ];

			      // you can loop through arrays of test cases like this
			      for (var i in validEmails) {
			        var valid = LoginService.isValidEmail(validEmails[i]);
			        expect(valid).toBeTruthy();
			      }
			      for (var i in invalidEmails) {
			        var valid = LoginService.isValidEmail(invalidEmails[i]);
			        expect(valid).toBeFalsy();
			      }

			    }])
			  );
			});
		</script>
		<body>
			<div class="container-body" ng-app="ChartApp">
				<h2 class="text-center">System Usage Dashboard</h2>
				<div class="container-main" ng-controller="ChartController">
					<div class="container-control row">
						<div class="col-xs-3">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Hardware</h3>
								</div>
								<div class="checkbox my-checkbox" ng-repeat="n in sysComponent">
									<label>
										<input type="checkbox" ng-model="n.checked">{{n.label}}
									</label>
								</div>
							</div>
						</div>
						<div class="col-xs-8">
							<form class="form-inline pull-right">
								<span>Show usage data in the past</span> 
								<select class="form-control" ng-model="timespan" ng-options="item as item.label for item in timespanOpt" ng-change="updateInterval(timespan)">
								</select>
								<span>for every</span>
								<select class="form-control" ng-model="interval" ng-options="item as item.label for item in intervalOpt" ng-init="updateInterval(timespan)">
								</select>
							</form>
						</div>
						<div class="col-xs-1">
							<button type="button" class="btn btn-success" ng-click="fetchData()">Run</button>
						</div>
					</div>


					<div class="container-charts">
						<div class="col-lg-6 container-chart" ng-repeat="(key, value) in dataChart" ng-if="value.show">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">{{value.title}}
										<span class="pull-right">Max: {{value.total}} {{value.unit}}</span>
									</h3>
								</div>
								<div class="panel-body">
									<canvas id="line" height="100" class="chart chart-line" data="value.usage" options="value.options" labels="labelChart">
									</canvas> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>