/*<--Global*/
.container-body {
    min-width: 600px;
    height: 100%;
    width: 100%;
}

.container-main {
    height: 100%;
    padding: 50px 5% 200px 5%;
    width: 100%;
}

.my-checkbox {
    margin-left: 20%;
}

.container-chart {
    margin-top: 50px;
}