
.container-body {
    min-width: 600px;
    height: 100%;
    width: 100%;
    font-family: Verdana, sans-serif;
}

.container-main {
    padding: 50px 5% 0px 5%;
}

.container-control {
	padding: 15px;
}

.panel-checkbox {
	width: 150px;
}
.my-checkbox {
    margin-left: 20%;
}

.container-chart {
    margin-top: 20px;
}